* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.feature-title {
  font-size: max(2.5vw, 2.5rem);
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 25px;
}

.feature-subheader {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
}

.feature-text {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}

.smooth-btn {
  padding: 10px 25px;
  border-radius: 10px;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.account-container {
  position: relative;
  width: 100%;
  padding: 50px 0;
  min-height: 100vh;
}
.account-container .account-content {
  display: none;
}
.account-container .account-mobile-content {
  width: 95%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 25px 0;
  box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0.1);
}
.account-container .account-mobile-content .user-info-heading {
  flex-direction: column;
}
.account-container .account-mobile-content .user-info-heading img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.account-container .account-mobile-content .mobile-nav-links {
  margin: 10px 0;
  gap: 10px;
  flex-wrap: wrap;
}
.account-container .account-mobile-content .mobile-nav-links .nav-link {
  padding: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0.5rem rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.account-container .account-mobile-content .mobile-nav-links .nav-link:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2);
}
.account-container .account-mobile-content .mobile-nav-links .nav-link img {
  width: 35px;
}
.account-container .account-mobile-content .account-mobile-section {
  min-height: 15px;
  padding: 25px;
}
.account-container .account-mobile-content .account-mobile-section .uploader-border {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  min-height: 25vh;
}
.account-container .account-mobile-content .account-mobile-section .account-support-container {
  width: 75%;
  margin: 0 auto;
}
.account-container .account-mobile-content .account-mobile-section .account-support-container h1 {
  margin: 10px 0;
}
.account-container .account-mobile-content .account-mobile-section .account-support-container a {
  color: rgb(13, 168, 234);
}

@media (min-width: 1000px) {
  .account-container .account-mobile-content {
    display: none;
  }
  .account-container .account-content {
    display: block;
    position: relative;
    width: 90%;
    margin: 25px auto;
    padding: 25px 0;
    background: #2f333e;
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
  }
  .account-container .account-content .account-navbar {
    padding: 1.5rem;
    justify-content: flex-end;
  }
  .account-container .account-content .account-navbar ul {
    gap: 15px;
    flex-wrap: wrap;
    margin-right: 25px;
  }
  .account-container .account-content .account-navbar ul li {
    cursor: pointer;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.4);
  }
  .account-container .account-content .account-navbar ul li:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: translateY(-5px);
  }
  .account-container .account-content .account-navbar ul li img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .account-container .account-content .account-dashboard-content {
    display: flex;
    position: relative;
    margin-top: 50px;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar {
    background: rgba(255, 255, 255, 0.05);
    position: relative;
    top: -145px;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .fill-background {
    position: absolute;
    width: 100%;
    height: 500%;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.05);
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .user {
    padding-left: 1.5rem;
    margin: 50px 0;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .user img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .user .user-username {
    flex-direction: column;
    align-items: flex-start;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .user .user-username h3 {
    font-size: 1.5rem;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .active {
    z-index: 1;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .active svg {
    fill: rgb(13, 168, 234);
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .active p {
    color: rgb(13, 168, 234);
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .active:hover::before {
    display: none;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .active::after {
    position: absolute;
    content: "";
    top: -10px;
    bottom: -10px;
    left: -25px;
    background: linear-gradient(to right, rgb(13, 168, 234), transparent);
    filter: blur(2rem);
    z-index: -1;
    opacity: 0.6;
    animation: slideRight 0.5s linear 1 forwards;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .active .active-span {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: rgb(13, 168, 234);
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link {
    gap: 10px;
    cursor: pointer;
    padding: 15px 40px;
    width: 175px;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    flex-shrink: none;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link::before {
    position: absolute;
    content: "";
    top: -10px;
    bottom: -10px;
    left: -10px;
    width: 0;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(1rem);
    transition: 0.4s ease-in-out;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link:hover p,
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link:hover svg {
    color: #fff;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link:hover::before {
    width: calc(100% + 20px);
    transition: 0.4s ease-in-out;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link p {
    display: block;
    font-size: 1.05rem;
  }
  .account-container .account-content .account-dashboard-content .account-sidebar .sidebar-links .link svg {
    font-size: 1.5rem;
  }
  .account-container .account-content .account-dashboard-content .account-dashboard {
    width: 80%;
    margin: 0 auto;
    min-height: 75vh;
  }
  .account-container .account-content .account-dashboard-content .account-dashboard .uploader-border {
    border-radius: 10px;
    min-height: 50vh;
    width: 80%;
    margin: 25px auto;
  }
  .account-container .account-content .account-dashboard-content .account-dashboard .border-fill {
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  .account-container .account-content .account-dashboard-content .account-dashboard .account-support-container {
    width: 80%;
    margin: 0 auto;
  }
  .account-container .account-content .account-dashboard-content .account-dashboard .account-support-container a {
    color: rgb(13, 168, 234);
  }
  .circle {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
  }
  .bottom-right-circle {
    box-shadow: inset 30px 0 90px rgb(99, 11, 214), inset -30px 0 90px rgb(238, 6, 238), -30px 0 90px rgb(99, 11, 214), 0 0 1px #fff, 30px 0 90px rgb(238, 6, 238);
    bottom: 0;
    right: 25px;
    height: 200px;
    width: 200px;
  }
  .top-left-circle {
    top: 10px;
    left: 25px;
    height: 200px;
    width: 200px;
    background: rgb(2, 44, 88);
    box-shadow: inset 30px 0 80px rgb(6, 36, 233), inset -30px 0 80px rgb(13, 168, 234), inset 0 0 15px #fff, 0 0 1px #fff, -30px 0 80px rgb(6, 36, 233), 30px 0 80px rgb(13, 168, 234);
  }
}
@keyframes slideRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=Account.css.map */