@import "../variables/variables.scss";

.esrgan-container {
  position: relative;
  margin-bottom: 50px;

  .header {
    font-size: max(2.5vw, 2.5rem);
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 25px;
  }

  .esrgan-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .esrgan-paragraph {
      .subheader {
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.8);
        margin: 10px 0;
      }
      .text {
        font-size: 0.9rem;
        line-height: 1.4;

        font-weight: 400;
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
