@import "../variables/variables.scss";

.account-settings-container {
  width: 90%;
  margin: 0 auto;

  .account-settings-web {
    display: none;
  }
  .title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  .basic-info,
  .account-info {
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .header {
      font-size: 1.7rem;
      letter-spacing: 2px;
      width: fit-content;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 10px 0;
    }

    .row {
      margin: 10px 0;
      padding: 10px 0;
      gap: 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
      justify-content: space-between;
      p {
        font-size: 1.1rem;
      }

      .info-name {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .basic-info {
    margin: 25px;

    .basic-info-content {
      align-items: flex-start;
      flex-direction: column;

      .image {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      .row {
        .dropzone-container {
          flex-direction: column;
          position: relative;
          svg {
            font-size: 1.1rem;
          }

          p {
            position: absolute;
            bottom: 100%;
          }
        }
      }
    }
  }

  .account-info {
    margin: 25px;

    .account-info-content {
      flex-direction: column;
      align-items: flex-start;
      .password {
        img {
          width: 10px;
          filter: grayscale(90%);
        }
      }

      .change-password {
        border-bottom: none;
        margin: none;
        padding: none;
        justify-content: center;

        button {
          padding: 10px 25px;
          border-radius: 10px;
          cursor: pointer;
          background: red;
          opacity: 0.4;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .changing-passwords-container {
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .changing-passwords-content {
      flex-direction: column;
      gap: 25px;
      background: rgba(0, 0, 0, 0.3);
      padding: 25px;
      border-radius: 25px;
      max-width: 100%;

      .error {
        color: red;
        opacity: 0.5;
        font-weight: 800;
      }
      input {
        outline: none;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        border-radius: 20px;
      }
      .btn-container {
        width: 100%;
        padding: 0 10px;
        display: flex;
        gap: 20px;

        button {
          padding: 10px 25px;
          border-radius: 5px;
          cursor: pointer;
          gap: 6px;
          opacity: 0.4;

          svg {
            font-size: 1.1rem;
          }

          &:hover {
            opacity: 1;
          }
        }

        .confirm {
          background: rgb(7, 101, 7);
        }

        .cancel {
          background: rgb(114, 1, 1);
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .account-settings-container {
    .account-settings-mobile {
      display: none;
    }

    .account-settings-web {
      min-height: 70vh;
      display: flex;
      flex-wrap: wrap;

      .user-information {
        padding-right: 40px;
        border-right: 2px solid rgba(255, 255, 255, 0.1);
        flex: 1;

        .user-banner {
          p {
            margin-top: 5px;
            width: 75%;
            font-size: 0.9rem;
          }
        }

        .user-information-content {
          margin-top: 25px;
          position: relative;

          .input {
            outline: none;
            border-radius: 10px;
            padding: 10px 25px;
            padding-left: 10px;
            background: #20232b;
            border: 2px solid rgba(255, 255, 255, 0.3);
            z-index: 1;
          }

          input {
            background: inherit;
            outline: none;
            border: none;
          }
          .email {
            flex-direction: column;
            align-items: flex-start;
            label {
              margin: 10px 0;
              letter-spacing: 2px;
              font-weight: 800;
            }

            .email-input {
              justify-content: space-between;
              width: max(250px, 35%);
              cursor: pointer;
              input {
                width: 90%;
                color: rgba(255, 255, 255, 0.4);
              }
              svg {
                fill: rgba(255, 255, 255, 0.4);
              }
            }
          }

          .name {
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;

            .first-name,
            .last-name {
              position: relative;
              .change-name {
                position: absolute;
                top: -100%;
                right: 10px;
                background: rgba(0, 0, 0, 0.3);
                padding: 5px 20px;
                border-radius: 10px;
                font-size: 0.9rem;
                cursor: pointer;
                border: rgba(255, 255, 255, 0.3);
                &:hover {
                  background: rgba(0, 0, 0, 0.8);
                  transition: 0.4s ease-in-out;
                }
              }
            }
            .first-name-input,
            .last-name-input {
              justify-content: space-between;
              position: relative;
              z-index: 0;
              margin-top: 10px;
              input {
                width: 90%;
              }

              &:hover {
                border: 2px solid $lightBlue;
              }

              svg {
                font-size: 1.1rem;
                cursor: pointer;
                fill: $lightBlue;
              }
            }
          }

          .username {
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;

            .input {
              margin-top: 10px;
            }

            .username-column {
              position: relative;

              .username-input {
                justify-content: space-between;

                p {
                  color: rgba(255, 255, 255, 0.4);
                }
                svg {
                  fill: rgba(255, 255, 255, 0.4);
                }
              }

              .password-input {
                justify-content: space-between;
                .change-password {
                  font-size: 0.6rem;
                  text-align: center;
                  cursor: pointer;

                  &:hover {
                    color: $lightBlue;
                  }
                }
                &:hover {
                  border: 2px solid $lightBlue;
                }
              }
            }
          }

          .payment-id,
          .review-description {
            background: rgba(0, 0, 0, 0.3);
            border: 2px solid rgba(255, 255, 255, 0.3);
            padding: 10px 20px;
            margin-top: 5px;
            border-radius: 15px;
          }
          .user-reviews {
            padding-top: 25px;

            .review-container {
              margin: 15px 0;

              .review-stars {
                font-size: 0.8rem;
                letter-spacing: 2px;
                font-weight: 700;
                margin-left: 5px;
              }

              .review-description {
                p {
                  font-size: 0.9rem;
                }
              }
            }
          }

          .user-payments {
            width: 100%;
            .subheader {
              margin-bottom: 25px;
            }

            .payment-id {
              margin: 10px 0;
              p {
                font-size: 0.9rem;
                color: rgba(255, 255, 255, 0.4);
              }
            }
          }

          .changing-passwords-container {
            position: absolute;
            backdrop-filter: blur(15px);
            width: 100%;
            left: 0;
            height: fit-content;
            top: 100px;
            margin: 0;
            padding: 25px 0;
            background: rgba(0, 0, 0, 0.8);

            .changing-passwords-content {
              background: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
      .account-stats {
        flex: 0.75;
        .subheading {
          margin: 20px;
        }
        .account-profile-picture {
          flex-direction: column;
          gap: 10px;
          .dropzone-container {
            flex-direction: column;
            img {
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }

            p {
              margin-top: 10px;
              background: rgba(0, 0, 0, 0.3);
              padding: 5px 20px;
              border-radius: 10px;
              cursor: pointer;

              &:hover {
                background: rgba(0, 0, 0, 0.8);
                color: rgba(255, 255, 255, 0.8);
              }
            }
          }
        }

        .account-stats-content {
          display: flex;
          flex-direction: column;
          padding: 0 20px;

          .stat {
            margin: 5px 0;
            .label {
              color: rgba(255, 255, 255, 0.4);
              margin: 5px;
              letter-spacing: 2px;
              font-size: 0.8rem;
              font-weight: 700;
            }
            .input {
              outline: none;
              border-radius: 10px;
              padding: 10px 25px;
              padding-left: 10px;
              background: #20232b;
              border: 2px solid rgba(255, 255, 255, 0.3);
              z-index: 1;
              justify-content: space-between;
              margin-top: 5px;
              svg {
                fill: rgba(255, 255, 255, 0.4);

                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}
