* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.feature-title {
  font-size: max(2.5vw, 2.5rem);
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 25px;
}

.feature-subheader {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
}

.feature-text {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}

.smooth-btn {
  padding: 10px 25px;
  border-radius: 10px;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.account-settings-container {
  width: 90%;
  margin: 0 auto;
}
.account-settings-container .account-settings-web {
  display: none;
}
.account-settings-container .title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  letter-spacing: 2px;
}
.account-settings-container .basic-info,
.account-settings-container .account-info {
  box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.account-settings-container .basic-info .header,
.account-settings-container .account-info .header {
  font-size: 1.7rem;
  letter-spacing: 2px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}
.account-settings-container .basic-info .row,
.account-settings-container .account-info .row {
  margin: 10px 0;
  padding: 10px 0;
  gap: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  justify-content: space-between;
}
.account-settings-container .basic-info .row p,
.account-settings-container .account-info .row p {
  font-size: 1.1rem;
}
.account-settings-container .basic-info .row .info-name,
.account-settings-container .account-info .row .info-name {
  color: rgba(255, 255, 255, 0.3);
}
.account-settings-container .basic-info {
  margin: 25px;
}
.account-settings-container .basic-info .basic-info-content {
  align-items: flex-start;
  flex-direction: column;
}
.account-settings-container .basic-info .basic-info-content .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.account-settings-container .basic-info .basic-info-content .row .dropzone-container {
  flex-direction: column;
  position: relative;
}
.account-settings-container .basic-info .basic-info-content .row .dropzone-container svg {
  font-size: 1.1rem;
}
.account-settings-container .basic-info .basic-info-content .row .dropzone-container p {
  position: absolute;
  bottom: 100%;
}
.account-settings-container .account-info {
  margin: 25px;
}
.account-settings-container .account-info .account-info-content {
  flex-direction: column;
  align-items: flex-start;
}
.account-settings-container .account-info .account-info-content .password img {
  width: 10px;
  filter: grayscale(90%);
}
.account-settings-container .account-info .account-info-content .change-password {
  border-bottom: none;
  margin: none;
  padding: none;
  justify-content: center;
}
.account-settings-container .account-info .account-info-content .change-password button {
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  background: red;
  opacity: 0.4;
}
.account-settings-container .account-info .account-info-content .change-password button:hover {
  opacity: 0.7;
}
.account-settings-container .changing-passwords-container {
  position: absolute;
  z-index: 5;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-settings-container .changing-passwords-container .changing-passwords-content {
  flex-direction: column;
  gap: 25px;
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 25px;
  max-width: 100%;
}
.account-settings-container .changing-passwords-container .changing-passwords-content .error {
  color: red;
  opacity: 0.5;
  font-weight: 800;
}
.account-settings-container .changing-passwords-container .changing-passwords-content input {
  outline: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 20px;
}
.account-settings-container .changing-passwords-container .changing-passwords-content .btn-container {
  width: 100%;
  padding: 0 10px;
  display: flex;
  gap: 20px;
}
.account-settings-container .changing-passwords-container .changing-passwords-content .btn-container button {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  gap: 6px;
  opacity: 0.4;
}
.account-settings-container .changing-passwords-container .changing-passwords-content .btn-container button svg {
  font-size: 1.1rem;
}
.account-settings-container .changing-passwords-container .changing-passwords-content .btn-container button:hover {
  opacity: 1;
}
.account-settings-container .changing-passwords-container .changing-passwords-content .btn-container .confirm {
  background: rgb(7, 101, 7);
}
.account-settings-container .changing-passwords-container .changing-passwords-content .btn-container .cancel {
  background: rgb(114, 1, 1);
}

@media (min-width: 1000px) {
  .account-settings-container .account-settings-mobile {
    display: none;
  }
  .account-settings-container .account-settings-web {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
  }
  .account-settings-container .account-settings-web .user-information {
    padding-right: 40px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    flex: 1;
  }
  .account-settings-container .account-settings-web .user-information .user-banner p {
    margin-top: 5px;
    width: 75%;
    font-size: 0.9rem;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content {
    margin-top: 25px;
    position: relative;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .input {
    outline: none;
    border-radius: 10px;
    padding: 10px 25px;
    padding-left: 10px;
    background: #20232b;
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content input {
    background: inherit;
    outline: none;
    border: none;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .email {
    flex-direction: column;
    align-items: flex-start;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .email label {
    margin: 10px 0;
    letter-spacing: 2px;
    font-weight: 800;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .email .email-input {
    justify-content: space-between;
    width: max(250px, 35%);
    cursor: pointer;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .email .email-input input {
    width: 90%;
    color: rgba(255, 255, 255, 0.4);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .email .email-input svg {
    fill: rgba(255, 255, 255, 0.4);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name {
    position: relative;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name .change-name,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name .change-name {
    position: absolute;
    top: -100%;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border: rgba(255, 255, 255, 0.3);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name .change-name:hover,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name .change-name:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.4s ease-in-out;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name-input,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name-input {
    justify-content: space-between;
    position: relative;
    z-index: 0;
    margin-top: 10px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name-input input,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name-input input {
    width: 90%;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name-input:hover,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name-input:hover {
    border: 2px solid rgb(13, 168, 234);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .name .first-name-input svg,
  .account-settings-container .account-settings-web .user-information .user-information-content .name .last-name-input svg {
    font-size: 1.1rem;
    cursor: pointer;
    fill: rgb(13, 168, 234);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .input {
    margin-top: 10px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column {
    position: relative;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .username-input {
    justify-content: space-between;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .username-input p {
    color: rgba(255, 255, 255, 0.4);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .username-input svg {
    fill: rgba(255, 255, 255, 0.4);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .password-input {
    justify-content: space-between;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .password-input .change-password {
    font-size: 0.6rem;
    text-align: center;
    cursor: pointer;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .password-input .change-password:hover {
    color: rgb(13, 168, 234);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .username .username-column .password-input:hover {
    border: 2px solid rgb(13, 168, 234);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .payment-id,
  .account-settings-container .account-settings-web .user-information .user-information-content .review-description {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 15px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-reviews {
    padding-top: 25px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-reviews .review-container {
    margin: 15px 0;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-reviews .review-container .review-stars {
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 5px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-reviews .review-container .review-description p {
    font-size: 0.9rem;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-payments {
    width: 100%;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-payments .subheader {
    margin-bottom: 25px;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-payments .payment-id {
    margin: 10px 0;
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .user-payments .payment-id p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.4);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .changing-passwords-container {
    position: absolute;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    width: 100%;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
    top: 100px;
    margin: 0;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.8);
  }
  .account-settings-container .account-settings-web .user-information .user-information-content .changing-passwords-container .changing-passwords-content {
    background: rgba(255, 255, 255, 0.1);
  }
  .account-settings-container .account-settings-web .account-stats {
    flex: 0.75;
  }
  .account-settings-container .account-settings-web .account-stats .subheading {
    margin: 20px;
  }
  .account-settings-container .account-settings-web .account-stats .account-profile-picture {
    flex-direction: column;
    gap: 10px;
  }
  .account-settings-container .account-settings-web .account-stats .account-profile-picture .dropzone-container {
    flex-direction: column;
  }
  .account-settings-container .account-settings-web .account-stats .account-profile-picture .dropzone-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .account-settings-container .account-settings-web .account-stats .account-profile-picture .dropzone-container p {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .account-settings-container .account-settings-web .account-stats .account-profile-picture .dropzone-container p:hover {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
  }
  .account-settings-container .account-settings-web .account-stats .account-stats-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .account-settings-container .account-settings-web .account-stats .account-stats-content .stat {
    margin: 5px 0;
  }
  .account-settings-container .account-settings-web .account-stats .account-stats-content .stat .label {
    color: rgba(255, 255, 255, 0.4);
    margin: 5px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .account-settings-container .account-settings-web .account-stats .account-stats-content .stat .input {
    outline: none;
    border-radius: 10px;
    padding: 10px 25px;
    padding-left: 10px;
    background: #20232b;
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
    justify-content: space-between;
    margin-top: 5px;
  }
  .account-settings-container .account-settings-web .account-stats .account-stats-content .stat .input svg {
    fill: rgba(255, 255, 255, 0.4);
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=AccountSettings.css.map */