* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}

.smooth-btn {
  padding: 10px 25px;
  border-radius: 5px;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.credits-advert-container {
  margin: 75px auto;
  position: relative;
}
.credits-advert-container .credit-advert-content {
  flex-direction: column;
  padding: 25px 10%;
  flex-wrap: wrap;
  gap: 25px;
}
.credits-advert-container .credit-advert-content .img-container {
  max-width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 100px;
}
.credits-advert-container .credit-advert-content .img-container::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 2;
  border-radius: inherit;
  box-shadow: inset 150px 0 150px #171c28, inset -150px 0 150px #171c28, inset -25px 0 50px black, inset 25px 0 50px black, inset 0 25px 25px #171c28, inset 0 -25px 25px #171c28;
}
.credits-advert-container .credit-advert-content .img-container .glow {
  position: absolute;
  inset: 0;
  border-radius: 40%;
  box-shadow: -10px 0 80px rgb(238, 6, 238), 0 0 20px #fff, 10px 0 80px aqua, 0 -10px 20px rgb(119, 1, 255), 0 10px 20px rgb(118, 0, 252);
  opacity: 0.7;
}
.credits-advert-container .credit-advert-content .img-container img {
  width: 100%;
  border-radius: 100px;
  position: relative;
  z-index: 1;
}
.credits-advert-container .credit-advert-content .credit-advert-text {
  gap: 15px;
  flex-direction: column;
  margin: 25px 0;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading {
  text-align: center;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading .header {
  font-size: 1.5rem;
  font-weight: 600;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading .header span {
  background: linear-gradient(225deg, rgb(238, 6, 238), rgb(13, 168, 234));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  position: relative;
  z-index: 1;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading .grey-text {
  max-width: 80%;
  margin: 0 auto;
  font-size: 0.9rem;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons {
  gap: 40px;
  justify-content: space-around;
  margin-top: 10px;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons button {
  background: #171c28;
  letter-spacing: 2px;
  font-weight: 400px;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .explore {
  position: relative;
  border-radius: 10px;
  z-index: 1;
  font-size: 1rem;
  padding: 10px 25px;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .explore:hover .glow {
  filter: blur(15px);
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .explore::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: inherit;
  background: #171c28;
  z-index: -1;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .explore::after {
  position: absolute;
  content: "";
  border-radius: inherit;
  inset: -2px;
  background: linear-gradient(to right, rgb(238, 6, 238), #31323b, rgb(13, 168, 234));
  opacity: 0.6;
  z-index: -2;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .explore .glow {
  position: absolute;
  inset: 0;
  z-index: -3;
  background: linear-gradient(to right, rgb(238, 6, 238), #31323b, rgb(13, 168, 234));
  filter: blur(5px);
  border-radius: inherit;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .view {
  gap: 5px;
  position: relative;
  padding: 10px 0;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .view:hover svg {
  transform: translateX(5px);
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .view:hover::before {
  width: 100%;
  transition: 0.4s ease-in-out;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .view::before {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
  height: 2px;
  width: 0;
  background: rgb(238, 6, 238);
  transition: 0.4s ease-in-out;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .view p {
  margin: 0;
  padding: 0;
  color: rgb(238, 6, 238);
  font-size: 0.9rem;
  font-weight: 800;
}
.credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-buttons .view svg {
  font-size: 0.9rem;
  fill: rgb(238, 6, 238);
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (min-width: 800px) {
  .credits-advert-container .credit-advert-content .img-container {
    max-width: 70%;
  }
}
@media (min-width: 1200px) {
  .credits-advert-container {
    margin-top: 150px;
  }
  .credits-advert-container .credit-advert-content {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
  .credits-advert-container .credit-advert-content .img-container {
    max-width: 100%;
  }
  .credits-advert-container .credit-advert-content .credit-advert-text {
    margin: 0;
    height: 100%;
  }
  .credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading {
    margin: 0;
  }
  .credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading .header {
    font-size: 2.5rem;
  }
  .credits-advert-container .credit-advert-content .credit-advert-text .credit-advert-heading .grey-text {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}/*# sourceMappingURL=CreditsAdvert.css.map */