* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}

.smooth-btn {
  padding: 10px 25px;
  border-radius: 5px;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.file-uploader-container {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.file-uploader-container .upscale {
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.4rem;
  padding: 10px 20px;
}
.file-uploader-container .upscale:hover {
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.file-uploader-container .cancel {
  position: absolute;
  z-index: 3;
  top: 25px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
}
.file-uploader-container .cancel:hover {
  background: rgba(0, 0, 0, 0.4);
  scale: 1.1;
}
.file-uploader-container .upload {
  position: relative;
  background: linear-gradient(to right, rgb(6, 36, 233), rgb(9, 98, 231));
  opacity: 0.4;
  gap: 10px;
  border-radius: 40px;
  font-size: 2rem;
  padding: 10px 30px;
}
.file-uploader-container .upload:hover {
  opacity: 0.8;
}
.file-uploader-container .upload:hover::after {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.file-uploader-container .upload::after {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 4rem rgb(6, 36, 233);
  opacity: 0.3;
  transition: 0.4s ease-in-out;
}
.file-uploader-container .upscale,
.file-uploader-container .upload {
  border-radius: 1px;
  border: none;
  cursor: pointer;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  letter-spacing: 2px;
}
.file-uploader-container .err-credits {
  z-index: 2;
  position: absolute;
  transform: translateY(200%);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.2);
  color: red;
}
.file-uploader-container .loading {
  font-size: 2rem;
  animation: spin 2s linear infinite forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.file-uploader-container .dropzone-container {
  position: relative;
  max-width: 100%;
}
.file-uploader-container .dropzone-container .dropzone-image {
  width: 100%;
  max-height: 350px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.file-uploader-container .download {
  padding: 10px 25px;
  border-radius: 20px;
  background: rgb(13, 168, 234);
  opacity: 0.4;
  letter-spacing: 2px;
  z-index: 5;
  position: absolute;
  bottom: -50px;
}
.file-uploader-container .download:hover {
  opacity: 0.8;
}/*# sourceMappingURL=FileUploader.css.map */