@import "../variables/variables.scss";

.features-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;

  .features-heading {
    text-align: center;

    .heading {
      margin: 5px;

      span {
        background: linear-gradient(45deg, #ff2200, #ffd903);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0 0 3rem orange;
      }
    }
  }
}
