* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}

.smooth-btn {
  padding: 10px 25px;
  border-radius: 10px;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.features-container {
  position: relative;
  margin: 0 auto;
  padding: 25px 10%;
  background: #131824;
  z-index: 1;
}
.features-container .right-triangle,
.features-container .left-triangle {
  display: none;
}
.features-container .features-heading {
  text-align: center;
  margin-top: 50px;
}
.features-container .features-heading .heading {
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.7rem;
  margin: 10px 0;
  position: relative;
}
.features-container .features-heading .heading::before {
  position: absolute;
  content: "";
  inset: 5px;
  background: linear-gradient(to right, rgb(13, 168, 234), rgb(238, 6, 238));
  filter: blur(3rem);
  z-index: -1;
}
.features-container .features-content {
  margin: 50px 0;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
  /* CUSTOM NEON HEADERS */
}
.features-container .features-content .feature {
  max-width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
  position: relative;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.features-container .features-content .feature::before {
  position: absolute;
  content: "";
  border-radius: inherit;
  inset: 0;
  background: linear-gradient(to top, #1e1f2f, #171c28);
  z-index: -2;
}
.features-container .features-content .feature .feature-header {
  margin: 5px 0;
}
.features-container .features-content .feature .feature-header h3 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}
.features-container .features-content .feature .feature-text {
  position: relative;
}
.features-container .features-content .feature .feature-text .grey-text {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 5px 0;
  line-height: 1.3;
}
.features-container .features-content .feature .feature-text .btn-read-more {
  background: transparent;
  margin: 10px 0;
  gap: 5px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  position: relative;
}
.features-container .features-content .feature .feature-text .btn-read-more::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 2px;
  background: #fff;
  width: 0;
  transition: 0.4s ease-in-out;
}
.features-container .features-content .feature .feature-text .btn-read-more:hover svg {
  transform: translateX(5px);
}
.features-container .features-content .feature .feature-text .btn-read-more:hover::before {
  width: 100%;
  transition: 0.4s ease-in-out;
}
.features-container .features-content .feature-1 .feature-header h3 {
  color: aqua;
  text-shadow: 0 0 0.5rem aqua;
}
.features-container .features-content .feature-2 .feature-header h3 {
  color: rgb(13, 168, 234);
  text-shadow: 0 0 0.5rem rgb(13, 168, 234);
}
.features-container .features-content .feature-3 .feature-header h3 {
  color: rgb(9, 65, 219);
  text-shadow: 0 0 0.5rem rgb(9, 65, 219);
}
.features-container .features-content .feature-4 .feature-header h3 {
  color: rgb(59, 17, 227);
  text-shadow: 0 0 0.5rem rgb(59, 17, 227);
}
.features-container .features-content .feature-5 .feature-header h3 {
  color: rgb(99, 11, 214);
  text-shadow: 0 0 0.5rem rgb(99, 11, 214);
}
.features-container .features-content .feature-6 .feature-header h3 {
  color: rgb(238, 6, 238);
  text-shadow: 0 0 0.5rem rgb(238, 6, 238);
}

@media (min-width: 1200px) {
  .features-container .features-heading .heading {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=Features.css.map */