* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.account-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.account-images-container .image-container {
  overflow: hidden;
  height: 100px;
  border-radius: 10px;
}
.account-images-container .image-container .selected-container {
  opacity: 0;
  position: absolute;
}
.account-images-container .image-container img {
  cursor: pointer;
  height: 100%;
  border-radius: 5px;
}
.account-images-container .image-container:hover {
  transition: 0.4s ease-in-out;
}
.account-images-container .image-container:hover img {
  opacity: 0.4;
}
.account-images-container .image-container:hover .selected-container {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.account-images-container .image-container:hover .selected-container svg {
  cursor: pointer;
  font-size: 1.3rem;
}

.selected-upscaled-image-container {
  position: absolute;
  width: 95%;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  padding: 5%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  min-height: 100vh;
}
.selected-upscaled-image-container .close-container {
  align-items: flex-start;
  margin: 10px;
  justify-content: flex-start;
  width: 100%;
}
.selected-upscaled-image-container .close-container svg {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}
.selected-upscaled-image-container .close-container svg:hover {
  background: rgba(255, 255, 255, 0.3);
}
.selected-upscaled-image-container .img-container {
  width: 100%;
  flex-direction: column;
}
.selected-upscaled-image-container .img-container img {
  width: 80%;
  margin: 0 auto;
}
.selected-upscaled-image-container .img-container button {
  margin: 25px 0;
  padding: 10px 0;
  width: 80%;
  font-size: 1.2rem;
  gap: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: rgba(255, 255, 255, 0.4);
}
.selected-upscaled-image-container .img-container button::before {
  position: absolute;
  content: "";
  inset: -1rem;
  background: linear-gradient(to right, rgb(6, 36, 233), rgb(3, 128, 244));
  z-index: -1;
  opacity: 0.4;
  filter: blur(3rem);
  transition: 0.4s ease-in-out;
}
.selected-upscaled-image-container .img-container button:hover {
  color: inherit;
}
.selected-upscaled-image-container .img-container button:hover::before {
  filter: blur(1rem);
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.selected-upscaled-image-container .user-container {
  justify-content: flex-start;
  gap: 10px;
  width: 80%;
  margin: 20px 0;
}
.selected-upscaled-image-container .user-container p {
  font-size: 1.2rem;
}
.selected-upscaled-image-container .disclaimers-container {
  display: flex;
  width: 80%;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.selected-upscaled-image-container .disclaimers-container .flex {
  gap: 5px;
}
.selected-upscaled-image-container .disclaimers-container .flex img {
  width: 20px;
}
.selected-upscaled-image-container .disclaimers-container .flex p {
  color: rgba(255, 255, 255, 0.4);
}/*# sourceMappingURL=AccountImages.css.map */