@import "../variables/variables.scss";

.upscale-container {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background: linear-gradient(
        to right,
        #171c28,
        rgb(10, 73, 220),
        rgb(0, 128, 255),
        rgb(135, 206, 250),
        #171c28
      ),
      url("../../components/assets/mountain.jpg");
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    z-index: -1;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(50vh - 100px);
    left: 0;
    right: 0;
    height: 100px;
    filter: blur(2rem);
    background: rgba(0, 0, 0, 0.4);
    z-index: -2;
  }

  .upscale-content {
    padding: 25px 5%;
    .upscale-header {
      flex-direction: column;
      gap: 10px;
      margin-top: 75px;
      margin-bottom: 75px;

      .header {
        font-size: max(3vw, 2rem);
        text-align: center;
      }

      .subheader {
        text-align: center;
        width: min(800px, 75%);
        backdrop-filter: blur(15px);
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: 800;
      }
    }

    .upscale-info {
      margin: 25px auto;
      padding: 25px;
      border-radius: 25px;
      width: fit-content;
      backdrop-filter: blur(15px);
      background: rgba(0, 0, 0, 0.1);
      gap: 20px;
      flex-wrap: wrap;

      .stat {
        flex-direction: column;
        padding: 15px;
        border-radius: 10px;

        .stat-text {
          letter-spacing: 2px;
          font-weight: 800;
          background-image: linear-gradient(
            to right,
            rgb(0, 112, 250),
            rgb(10, 88, 255)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        /* CUSTOM LINEAR GRADIENT FOR EACH STAT*/

        .grey-text {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }
    }

    .upscale-uploader {
      margin: 25px 0;
      position: relative;
      width: 100%;
      margin-bottom: 75px;
    }

    .upscale-cards-container {
      gap: 50px;
      padding-top: 25px;
      flex-wrap: wrap;
      position: relative;

      .card-container {
        padding: 25px;
        max-width: min(325px, 75%);
        min-height: 150px;
        position: relative;
        border-radius: 3px;
        z-index: 10;
        backdrop-filter: blur(10px);

        &::before {
          position: absolute;
          content: "";
          inset: 0;
          background: linear-gradient(
            45deg,
            #2c323d,
            #222732,
            #222732,
            #2c323d
          );
          border-radius: inherit;
          z-index: -1;
        }

        /* SPAN STYLES */
        span {
          position: absolute;
          height: 2px;
          z-index: -1;
        }

        .top-right-top {
          top: 0;
          left: 0;
          right: 0;
          background: linear-gradient(
            to right,
            transparent,
            transparent,
            rgba(255, 255, 255, 0.2)
          );
          border-top-right-radius: 5px;
        }
        .top-right-right {
          bottom: 0;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(
            to top,
            transparent,
            transparent,
            rgba(255, 255, 255, 0.2)
          );
          border-top-right-radius: 5px;
        }

        .bottom-left-left {
          top: 0;
          left: 0;
          height: 100%;
          width: 2px;
          background: linear-gradient(
            to bottom,
            transparent,
            transparent,
            rgba(255, 255, 255, 0.2)
          );
          border-bottom-left-radius: 5px;
        }

        .bottom-left-bottom {
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: linear-gradient(
            to left,
            transparent,
            transparent,
            rgba(255, 255, 255, 0.2)
          );
        }

        .image-container {
          margin-top: -50px;

          img {
            width: 50px;
          }
        }

        .card-text {
          .heading {
            font-size: 1.2rem;
            margin: 10px 0;
          }

          .grey-text {
            font-size: 0.8rem;
            line-height: 1.4;
            letter-spacing: 1px;
            font-weight: 400;
          }
        }
      }
    }

    .upscale-companies-container {
      //justify-content: space-around;
      width: 80%;
      position: relative;
      margin: 0 auto;
      margin-top: 75px;
      gap: 5%;
      flex-wrap: wrap;

      .company-container {
        //background: rgba(255, 255, 255, 0.05);
        padding: 10px 25px;
        border-radius: 20px;
        gap: 10px;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        margin: 10px 0;

        img {
          width: 20px;
          fill: #fff;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .upscale-container {
    .upscale-content {
      .upscale-cards-container {
        /* DYNAMIC POSITION FOR EACH CARD */

        .image-quality {
          transform: translateY(-40px);
          &::after {
            background: $lightBlue;
          }

          .glow-circle {
            position: absolute;
            height: 120px;
            width: 120px;
            left: 0;
            top: 0;
            z-index: -2;
            transform: translateX(-40%) translateY(-40%);
            border-radius: 50%;
            box-shadow: 0 0 20px #fff, -10px 0 30px rgb(8, 210, 237),
              20px 0 40px blue, inset 0 0 50px #fff,
              inset 40px 0 40px rgb(8, 210, 237), inset -20px 0 400px blue;
          }
        }

        .ai-powered {
          transform: translateY(-25px);

          &::after {
            background: rgb(236, 30, 226);
          }
          .glow-circle {
            position: absolute;
            height: 120px;
            width: 120px;
            top: 0;
            right: 0;
            z-index: -2;
            transform: translateX(40%) translateY(-40%);
            border-radius: 50%;
            box-shadow: 0 0 20px #fff, 20px 0 40px rgb(142, 9, 230),
              -20px 0 40px rgb(236, 30, 226), inset 0 0 50px #fff,
              inset 50px 0 80px rgb(236, 30, 226),
              inset -50px 0 200px rgb(142, 9, 230);
          }
        }

        .time-saving {
          transform: translateY(20px);

          &::after {
            position: absolute;
            content: "";
            inset: 10px;
            background: linear-gradient(
              to right,
              $lightBlue,
              rgb(138, 12, 184)
            );
            z-index: -2;
            filter: blur(1rem);
          }
        }
      }
    }
  }
}
