@import "../variables/variables.scss";

.collection-advert-container {
  position: relative;
  margin: 0 auto;
  padding: 100px 10%;
  z-index: 1;

  .beam,
  .glow,
  .blob {
    display: none;
  }

  .particle-container {
    display: none;
  }

  .social-media {
    text-align: center;
    margin-top: 40px;
    .social-media-header {
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.4);
    }

    .icons {
      margin: 15px 0;
      gap: 25px;

      .icon {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        padding: 7px;
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        svg {
          font-size: 1.5rem;
          fill: rgba(255, 255, 255, 0.4);
        }
      }

      .tiktok {
        &:hover {
          border: 2px solid #fe2c55;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 0 15px #fe2c55;
          svg {
            fill: #fe2c55;
            transition: 0.1 ease-in-out;
          }
        }
      }

      .twitter {
        &:hover {
          border: 2px solid #1d9bf0;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 0 15px #1d9bf0;
          svg {
            fill: #1d9bf0;
            transition: 0.1 ease-in-out;
          }
        }
      }

      .instagram {
        &:hover {
          border: 2px solid #f74424;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 0 15px #f74424;
          svg {
            fill: #f74424;
            transition: 0.1 ease-in-out;
          }
        }
      }
    }
  }
  .collection-advert-content {
    flex-direction: column-reverse;
    z-index: 1;

    .content-text {
      text-align: center;
      max-width: 450px;
      margin: 25px 0;
      .header {
        font-size: 1.5rem;
        margin: 10px 0;
        font-weight: 400;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          inset: 25px;
          //background: linear-gradient(to right, $lightBlue, $primaryPink);
          z-index: -1;
          filter: blur(3rem);
        }
      }

      .grey-text {
        font-size: 0.8rem;
        letter-spacing: 1px;
        line-height: 1.3;
        margin: 10px 0;
      }

      .btn-container {
        gap: 25px;
        button {
          letter-spacing: 2px;
          font-weight: 400;
          margin: 25px 0;
        }

        .btn-collection {
          position: relative;

          z-index: 1;

          &::after {
            position: absolute;
            content: "";
            top: -2px;
            left: 0;
            bottom: -2px;
            width: 100%;
            background: linear-gradient(to right, $lightBlue, $primaryPink);
            z-index: -1;
            border-radius: inherit;
            opacity: 0.7;
            transition: 0.4s ease-in-out;
            filter: blur(5px);
          }

          &::before {
            position: absolute;
            content: "";
            top: 125%;
            left: 0;
            right: 0;
            height: 100%;
            background: linear-gradient(to right, $lightBlue, $primaryPink);
            transform: perspective(6rem) rotateX(45deg) scale(0.9);
            filter: blur(1rem);
            opacity: 0.3;
            z-index: -1;
            transition: 0.4s ease-in-out;
          }

          &:hover {
            &::after {
              filter: blur(20px);
            }

            &::before {
              height: 0;
              transition: 0.1s ease-in-out;
            }
          }
        }

        .btn-user-images {
          border-radius: 0;
          background: transparent;
          position: relative;
          overflow: hidden;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            width: 0;
            opacity: 0.1;
            background: #fff;
            z-index: 1;
            transition: 0.4s ease-in-out;
          }

          &:hover {
            span {
              opacity: 0;
            }
            &::before {
              width: 100%;
              transition: 0.4s ease-in-out;
            }
          }
        }
      }
    }

    .content-image {
      position: relative;
      width: 100%;
      max-width: 400px;
      z-index: 1;
      min-height: 250px;

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background: url("../assets/computerChip.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;
      }

      &::after {
        position: absolute;
        content: "";
        inset: 0;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 50px rgba(0, 0, 0, 0.4), 0 0 160px $primaryPurple;
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: 1000px) {
  .collection-advert-container {
    .collection-advert-content {
      flex-direction: row;
      gap: 0;
      flex-wrap: wrap;
      gap: 50px;

      .content-text {
        text-align: left;
        .header {
          font-size: 2.5rem;
        }

        .grey-text {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .collection-advert-container {
    .particle-container {
      display: block;
    }
    .blob {
      display: block;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .blob-1 {
      top: 0;
      left: 0;
      background-image: url("../assets/blob10.png");
      transform: translateX(-50%) translateY(-50%);
    }
    .blob-1,
    .blob-3 {
      z-index: -15;
      width: 350px;
      height: 350px;
    }

    .blob-3 {
      right: 0;
      bottom: 0;
      background-image: url("../assets/blob13.png");
      transform: translateX(50%) translateY(50%);
    }

    .blob-2 {
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
      background-image: url("../assets/blob11.png");
    }

    .blob-2,
    .blob-4 {
      width: 400px;
      height: 400px;
      z-index: -16;
      filter: blur(9rem);
      opacity: 0.8;
    }

    .blob-4 {
      right: 0;
      bottom: 0;
      transform: translateX(50%) translateY(50%);
      background-image: url("../assets/blob12.png");
    }
  }
}
