@import "../variables/variables.scss";

.collection-advert-container {
  position: relative;
  margin: 0 auto;
  padding: 25px 10%;
  z-index: 1;

  .beam,
  .glow {
    display: none;
  }

  .collection-advert-content {
    flex-direction: column-reverse;

    .content-text {
      text-align: center;
      max-width: 450px;
      margin: 25px 0;
      .header {
        font-size: 1.5rem;
        margin: 10px 0;
        font-weight: 400;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          inset: 25px;
          //background: linear-gradient(to right, $lightBlue, $primaryPink);
          z-index: -1;
          filter: blur(3rem);
        }
      }

      .grey-text {
        font-size: 0.8rem;
        letter-spacing: 1px;
        line-height: 1.3;
        margin: 10px 0;
      }

      .btn-container {
        gap: 25px;
        button {
          letter-spacing: 2px;
          font-weight: 400;
          margin: 25px 0;
        }

        .btn-collection {
          position: relative;

          z-index: 1;

          &::after {
            position: absolute;
            content: "";
            top: -2px;
            left: 0;
            bottom: -2px;
            width: 100%;
            background: linear-gradient(to right, $lightBlue, $primaryPink);
            z-index: -1;
            border-radius: inherit;
            opacity: 0.7;
            transition: 0.4s ease-in-out;
            filter: blur(5px);
          }

          &::before {
            position: absolute;
            content: "";
            top: 125%;
            left: 0;
            right: 0;
            height: 100%;
            background: linear-gradient(to right, $lightBlue, $primaryPink);
            transform: perspective(6rem) rotateX(45deg) scale(0.9);
            filter: blur(1rem);
            opacity: 0.3;
            z-index: -1;
            transition: 0.4s ease-in-out;
          }

          &:hover {
            &::after {
              filter: blur(20px);
            }

            &::before {
              height: 0;
              transition: 0.1s ease-in-out;
            }
          }
        }

        .btn-user-images {
          border-radius: 0;
          background: transparent;
          position: relative;
          overflow: hidden;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            width: 0;
            opacity: 0.1;
            background: #fff;
            z-index: 1;
            transition: 0.4s ease-in-out;
          }

          &:hover {
            span {
              opacity: 0;
            }
            &::before {
              width: 100%;
              transition: 0.4s ease-in-out;
            }
          }
        }
      }
    }

    .content-image {
      position: relative;

      width: 100%;
      max-width: 400px;
      z-index: 1;
      min-height: 240px;

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background: url("../assets/computerChip.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;
      }

      &::after {
        position: absolute;
        content: "";
        inset: 0;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4),
          inset 0 0 50px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@media (min-width: 1000px) {
  .collection-advert-container {
    .collection-advert-content {
      flex-direction: row;
      gap: 0;
      flex-wrap: wrap;
      gap: 50px;

      .content-text {
        .header {
          font-size: 2.5rem;
        }

        .grey-text {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .collection-advert-container {
    .beam {
      display: block;
      position: absolute;
      width: 4px;
      opacity: 0.8;
    }

    .glow {
      display: block;
      position: absolute;
    }

    .beam-2,
    .beam-3 {
      left: 15%;
    }

    .beam-4,
    .beam-5 {
      left: 11%;
    }

    .beam-1,
    .beam-6 {
      left: 7%;
    }

    .beam-1,
    .beam-2,
    .beam-3,
    .beam-4,
    .beam-5,
    .beam-6,
    .beam-7,
    .beam-8,
    .beam-9,
    .beam-10,
    .beam-11,
    .beam-12 {
      filter: blur(1px);
      height: calc(50% + 75px);
    }

    .beam-2,
    .beam-4,
    .beam-6 {
      top: -75px;
      transform: skewX(-30deg);
      background: linear-gradient(to top, rgb(10, 47, 212), $lightBlue);
    }

    .beam-3,
    .beam-5,
    .beam-1 {
      bottom: -75px;
      background: linear-gradient(to bottom, rgb(10, 47, 212), $lightBlue);
      transform: skewX(30deg);
    }

    .glow-1 {
      left: 10%;
      width: 100px;
      height: 100px;
      background: linear-gradient(
        to top,
        $lightBlue,
        rgb(10, 47, 212),
        $lightBlue
      );
      border-radius: 50%;
      top: 50%;

      transform: translateX(-50%) translateY(-50%);
      filter: blur(4rem);
    }

    .glow-2 {
      right: 10%;
      width: 100px;
      height: 100px;
      background: linear-gradient(
        to top,
        $primaryPurple,
        $primaryPink,
        $primaryPink,
        $primaryPurple
      );
      border-radius: 50%;
      top: 50%;

      transform: translateX(50%) translateY(-50%);
      filter: blur(4rem);
    }

    .beam-7,
    .beam-8 {
      right: 15%;
    }

    .beam-9,
    .beam-10 {
      right: 11%;
    }

    .beam-11,
    .beam-12 {
      right: 7%;
    }

    .beam-8,
    .beam-10,
    .beam-12 {
      bottom: -75px;
      transform: skewX(-30deg);
      background: linear-gradient(to top, $primaryPurple, $primaryPink);
    }

    .beam-7,
    .beam-9,
    .beam-11 {
      background: linear-gradient(to bottom, $primaryPurple, $primaryPink);
      top: -75px;
      transform: skewX(30deg);
    }
  }
}
