* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

.hide {
  display: none;
}

.feature-title {
  font-size: max(2.5vw, 2.5rem);
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 25px;
}

.feature-subheader {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
}

.feature-text {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.btn-glow-hover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.btn-glow-hover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transform: skewX(45deg);
  filter: blur(1rem);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
}
.btn-glow-hover:hover {
  box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.3);
}
.btn-glow-hover:hover::before {
  width: 80%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
}

.smooth-btn {
  padding: 10px 25px;
  border-radius: 10px;
}

.center-outwards-hover::before, .center-outwards-hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: 0.4s ease-in-out;
}
.center-outwards-hover::before {
  right: 50%;
}
.center-outwards-hover::after {
  left: 50%;
}
.center-outwards-hover:hover::after, .center-outwards-hover:hover::before {
  width: 50%;
  transition: 0.4s ease-in-out;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.collection-advert-container {
  position: relative;
  margin: 0 auto;
  padding: 100px 10%;
  z-index: 1;
}
.collection-advert-container .beam,
.collection-advert-container .glow,
.collection-advert-container .blob {
  display: none;
}
.collection-advert-container .particle-container {
  display: none;
}
.collection-advert-container .social-media {
  text-align: center;
  margin-top: 40px;
}
.collection-advert-container .social-media .social-media-header {
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
}
.collection-advert-container .social-media .icons {
  margin: 15px 0;
  gap: 25px;
}
.collection-advert-container .social-media .icons .icon {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}
.collection-advert-container .social-media .icons .icon svg {
  font-size: 1.5rem;
  fill: rgba(255, 255, 255, 0.4);
}
.collection-advert-container .social-media .icons .tiktok:hover {
  border: 2px solid #fe2c55;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 0 15px #fe2c55;
}
.collection-advert-container .social-media .icons .tiktok:hover svg {
  fill: #fe2c55;
  transition: 0.1 ease-in-out;
}
.collection-advert-container .social-media .icons .twitter:hover {
  border: 2px solid #1d9bf0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 0 15px #1d9bf0;
}
.collection-advert-container .social-media .icons .twitter:hover svg {
  fill: #1d9bf0;
  transition: 0.1 ease-in-out;
}
.collection-advert-container .social-media .icons .instagram:hover {
  border: 2px solid #f74424;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 0 15px #f74424;
}
.collection-advert-container .social-media .icons .instagram:hover svg {
  fill: #f74424;
  transition: 0.1 ease-in-out;
}
.collection-advert-container .collection-advert-content {
  flex-direction: column-reverse;
  z-index: 1;
}
.collection-advert-container .collection-advert-content .content-text {
  text-align: center;
  max-width: 450px;
  margin: 25px 0;
}
.collection-advert-container .collection-advert-content .content-text .header {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 400;
  position: relative;
}
.collection-advert-container .collection-advert-content .content-text .header::before {
  position: absolute;
  content: "";
  inset: 25px;
  z-index: -1;
  filter: blur(3rem);
}
.collection-advert-container .collection-advert-content .content-text .grey-text {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 10px 0;
}
.collection-advert-container .collection-advert-content .content-text .btn-container {
  gap: 25px;
}
.collection-advert-container .collection-advert-content .content-text .btn-container button {
  letter-spacing: 2px;
  font-weight: 400;
  margin: 25px 0;
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-collection {
  position: relative;
  z-index: 1;
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-collection::after {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  bottom: -2px;
  width: 100%;
  background: linear-gradient(to right, rgb(13, 168, 234), rgb(238, 6, 238));
  z-index: -1;
  border-radius: inherit;
  opacity: 0.7;
  transition: 0.4s ease-in-out;
  filter: blur(5px);
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-collection::before {
  position: absolute;
  content: "";
  top: 125%;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(13, 168, 234), rgb(238, 6, 238));
  transform: perspective(6rem) rotateX(45deg) scale(0.9);
  filter: blur(1rem);
  opacity: 0.3;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-collection:hover::after {
  filter: blur(20px);
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-collection:hover::before {
  height: 0;
  transition: 0.1s ease-in-out;
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-user-images {
  border-radius: 0;
  background: transparent;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-user-images::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0.1;
  background: #fff;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-user-images:hover span {
  opacity: 0;
}
.collection-advert-container .collection-advert-content .content-text .btn-container .btn-user-images:hover::before {
  width: 100%;
  transition: 0.4s ease-in-out;
}
.collection-advert-container .collection-advert-content .content-image {
  position: relative;
  width: 100%;
  max-width: 400px;
  z-index: 1;
  min-height: 250px;
}
.collection-advert-container .collection-advert-content .content-image::before {
  position: absolute;
  content: "";
  inset: 0;
  background: url("../assets/computerChip.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.collection-advert-container .collection-advert-content .content-image::after {
  position: absolute;
  content: "";
  inset: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.4), 0 0 160px rgb(99, 11, 214);
  opacity: 0.5;
}

@media (min-width: 1000px) {
  .collection-advert-container .collection-advert-content {
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    gap: 50px;
  }
  .collection-advert-container .collection-advert-content .content-text {
    text-align: left;
  }
  .collection-advert-container .collection-advert-content .content-text .header {
    font-size: 2.5rem;
  }
  .collection-advert-container .collection-advert-content .content-text .grey-text {
    font-size: 1rem;
  }
}
@media (min-width: 1300px) {
  .collection-advert-container .particle-container {
    display: block;
  }
  .collection-advert-container .blob {
    display: block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .collection-advert-container .blob-1 {
    top: 0;
    left: 0;
    background-image: url("../assets/blob10.png");
    transform: translateX(-50%) translateY(-50%);
  }
  .collection-advert-container .blob-1,
  .collection-advert-container .blob-3 {
    z-index: -15;
    width: 350px;
    height: 350px;
  }
  .collection-advert-container .blob-3 {
    right: 0;
    bottom: 0;
    background-image: url("../assets/blob13.png");
    transform: translateX(50%) translateY(50%);
  }
  .collection-advert-container .blob-2 {
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../assets/blob11.png");
  }
  .collection-advert-container .blob-2,
  .collection-advert-container .blob-4 {
    width: 400px;
    height: 400px;
    z-index: -16;
    filter: blur(9rem);
    opacity: 0.8;
  }
  .collection-advert-container .blob-4 {
    right: 0;
    bottom: 0;
    transform: translateX(50%) translateY(50%);
    background-image: url("../assets/blob12.png");
  }
}/*# sourceMappingURL=CollectionAdvert.css.map */